<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <img style="width: 100%" src="/images/GraceLee_burger.gif" alt="Burger">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{#each burgers}} {{#unless devoured}}
            <div style="margin-bottom: 16px" class="input-group">
                <span class="input-group-addon">{{@index}}</span>
                <input style="cursor: default;" type="text" disabled class="form-control" value="{{burger_name}}">
                <span class="input-group-btn">
                    <button class="btn btn-default js-devour-it" data-key="{{id}}" type="button">Devour It !</button>
                </span>
            </div>
            {{/unless}} {{/each}}
        </div>

        <div class="col-sm-4">
            <form action="/burgers/create" method="POST">
                <div class="input-group">
                    <input required type="text" maxlength="60" name="name" class="form-control" placeholder="Enter the name of the Burger you want">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" type="button">Submit</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            {{#each burgers}}
                {{#if devoured}}
                    <div style="margin-bottom: 16px" class="input-group">
                        <span class="input-group-addon">{{@index}}</span>
                        <input style="cursor: default;" type="text" disabled class="form-control" value="{{burger_name}}">
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>